name: Release
on:
  push:
    tags:
      - 'v*.*.*'
  repository_dispatch:
    types: [trigger-release]

jobs:
  prepare-release:
    name: Prepare release flow
    runs-on: ubuntu-latest
    outputs:
      release_tag: ${{ steps.get_release_tag.outputs.release_tag }}
    steps:
      - name: Get release tag
        id: get_release_tag
        run: |
          if [[ "${{ github.event_name }}" == "push" ]]; then
            echo "release_tag=${GITHUB_REF#refs/tags/}" >> $GITHUB_OUTPUT
          elif [[ "${{ github.event_name }}" == "repository_dispatch" ]]; then
            echo "release_tag=v${{ github.event.client_payload.version }}" >> $GITHUB_OUTPUT
          else
            echo "ERROR: Unsupported event type: ${{ github.event_name }}"
            exit 1
          fi

  release-pypi:
    name: Release package to PyPI
    runs-on: ubuntu-latest
    environment:
      name: pypi
      url: https://pypi.org/project/strato-dns-api/
    permissions:
      id-token: write  # IMPORTANT: this permission is mandatory for trusted publishing
    needs: prepare-release
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ needs.prepare-release.outputs.release_tag }}

      - name: Download python package from CI workflow
        uses: dawidd6/action-download-artifact@v3
        with:
          workflow: ci.yml                # Name or ID of the workflow
          workflow_conclusion: success    # Only from successful runs
          branch: main                    # From main branch
          name: dist                      # Artifact name
          path: ./dist                    # Where to download

      - name: publish
        # gh-action-pypi-publish uses TWINE_PASSWORD automatically
        uses: pypa/gh-action-pypi-publish@release/v1

  release-docker:
    name: Release docker image to DockerHub
    runs-on: ubuntu-latest
    environment:
      name: DockerHub
      url: https://hub.docker.com/repository/docker/slinred/strato-acme/general
    needs: prepare-release
    steps:
    - uses: actions/checkout@v4
      with:
          ref: ${{ needs.prepare-release.outputs.release_tag }}

    - name: docker buildx setup
      uses: docker/setup-buildx-action@v3.10.0

    - name: Tag and push docker image
      env: 
          DOCKERHUB_LOGIN: ${{ vars.DOCKERHUB_LOGIN }}
          DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
      run: |
        COMMIT_SHORT=${GITHUB_SHA:0:8}
        VERSION=$(cat VERSION)

        echo $DOCKERHUB_TOKEN | docker login -u "$DOCKERHUB_LOGIN" --password-stdin

        # Get the image built in the CI workflow
        docker pull slinred/strato-acme:${COMMIT_SHORT}
        # Tag the image with the version tag
        docker tag slinred/strato-acme:${COMMIT_SHORT} slinred/strato-acme:${VERSION}
        # Push the version tagged image to DockerHub
        docker push slinred/strato-acme:${VERSION}

        docker logout || true

  release-github:
    name: Create GitHub Release
    runs-on: ubuntu-latest
    needs: [ prepare-release, release-pypi, release-docker ]
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ needs.prepare-release.outputs.release_tag }}

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.14

      - name: Download python package from CI workflow
        uses: dawidd6/action-download-artifact@v3
        with:
          workflow: ci.yml                # Name or ID of the workflow
          workflow_conclusion: success    # Only from successful runs
          branch: main                    # From main branch
          name: dist                      # Artifact name
          path: ./dist                    # Where to download

      - name: Get changelog
        id: changelog
        run: |
          VERSION=$(cat VERSION)
          python3 ./scripts/version_changelog.py ${VERSION} > version_changelog.md
      
      - name: Create GitHub Release
        uses: softprops/action-gh-release@v1
        with:
          tag_name: ${{ github.ref_name }}
          name: Release ${{ github.ref_name }}
          body_path: version_changelog.md
          token: ${{ secrets.GITHUB_TOKEN }}
          files: |
            dist/*