name: Release python package
on:
  push:
    tags:
      - 'v*.*.*'

jobs:
  release-package:
    name: Release package to PyPI
    runs-on: ubuntu-latest
    environment:
      name: pypi
      url: https://pypi.org/project/strato-dns-api/
    permissions:
      id-token: write  # IMPORTANT: this permission is mandatory for trusted publishing
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.14
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install --upgrade build
          pip install -r requirements-dev.txt
      - name: Build package
        run: python -m build
      - name: Publish package to PyPI
        uses: pypa/gh-action-pypi-publish@v1.5.2
        # with:
        #   password: ${{ secrets.PYPI_API_TOKEN }}
        